h2{
    color: white;
    background-color: green;
}

h3{
    color: white;
    background-color: skyblue;
    text-align: center;
}

h4{
    color: rgb(10, 53, 62);
    background-color: rgb(127, 190, 177);
    text-align: left;
}

p2{
    color: red; 
}